<!DOCTYPE html>
<html>
<head>
  <title>Student Subject Teacher</title>
</head>
<body>
  <h1>TUGAS WEEK 4</h1>
  <hr>
  <a href="/students">Students</a>
  <a href="/subjects">Subject</a>
  <a href="/teachers">Teachers</a>
  <a href="/logout">LogOut</a>
</body>
</html>
