<!DOCTYPE html>
<html>
<head>
  <title>TEACHER</title>
  <style>
    table{width:500px;border:1px solid #333;}
    table th{padding:5px;background: #ccc; text-align: left;}
    table td{padding:5px;}
  </style>
</head>
<body>
  <h1>TEACHER ADD</h1>
  <a href="/teachers">Show All Data</a>
  <%if(err){  %>
    <div id="info"><%=error%></div>
  <%} %>
  <form action="/teachers/add" method="post">
  <div>
    <label><b>first Name<b></label><br>
    <input type="text" name="first_name" placeholder="First Name">
  </div>
  <div>
    <label><b>last Name<b></label><br>
    <input type="text" name="last_name" placeholder="Last name">
  </div>
  <div>
    <label><b>Email<b></label><br>
    <input type="email" name="email" placeholder="your email">
  </div>

  <button type="submit" name="submit">Add</button>
</body>
</html>
