<!DOCTYPE html>
<html>
<head>
  <title>USER</title>
  <style>
    table{width:500px;border:1px solid #333;}
    table th{padding:5px;background: #ccc; text-align: left;}
    table td{padding:5px;}
  </style>
</head>
<body>
  <h1>USER EDIT</h1>
  <a href="/users">Show All Data</a>
  <form action="/users/edit/<%=user.id%>" method="post">
  <div>
    <label><b>Id User<b></label><br>
    <input type="text" name="user_id" value= "<%=user.user_id%>" placeholder="Id User">
  </div>
  <!-- <div>
    <label><b>Password<b></label><br>
    <input type="text" name="user_pass" value= "<%=user.user_pass%>" placeholder="User Password">
  </div> -->
  <div>
    <label><b>Rool<b></label><br>
    <input type="text" name="rool" value= "<%=user.rool%>" placeholder="rool">
  </div>

  <button type="submit" name="submit">Save</button>

</body>
</html>
